.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid black;
  border-style: none none solid none;
  display: flex;
  height: 100px;
  width: 100%;
  position: fixed;
  align-items: center;
}

.header img {
  padding: 20px 10px 20px 30px;
  display: flex;
}

.header span {
  color: MediumAquamarine;
  display: inline-block;
}

.header ul {
  display: inline-flex;
}

a {
  color: black;
  padding: 10px;
}
