.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid black;
  border-style: none none solid none;
  background-color: white;
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  z-index: 1;
  position:fixed;

}

.header img {
  padding: 20px 10px 20px 30px;
  display: flex;
}

.header span {
  color: MediumAquamarine;
  display: flex;
}

.header li {
  list-style: none;
  display: inline-block;
  padding: 5px;
  }

ul {
  margin-right: 30px;
}

a {
  color: black;
}

span {
  flex-grow: 1;
}

.articles {
 display: inline-flex;
 border: 1px solid black;
 padding-top: 100px;
}

.column_large {
  width: 630px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 30px 30px 0px 0px;

}

 .article_1 {
  border: 1px solid black;
}

.article_2 {
  border: 1px solid black;
  width: ;
}

.article_2_footer {
  border: 1px solid black;
  width: ;
}

.article_3 {
  border: 1px solid black;
  width: ;
}

.article_3_footer {
  border: 1px solid black;
}

.column_medium {
  width: 300px;
  border: 1px solid blue;
}

.article_4 {
  border: 1px solid black;
}

.article_5 {
    border: 1px solid black;
}

.column_small {
  width: 240px
  border: 1px solid blue;
}

.article_6 {
  border: 1px solid black;
}
