.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid black;
  border-style: none none solid none;
  background-color: white;
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  z-index: 1;
  <!-- position:fixed; -->

}

.header img {
  padding: 20px 10px 20px 30px;
  display: flex;
}

.header span {
  color: MediumAquamarine;
  display: flex;
}

.header li {
  list-style: none;
  display: inline-block;
  padding: 5px;
  }

ul {
  margin-right: 30px;
}

a {
  color: black;
}

span {
  flex-grow: 1;
}

.articles {
 display: flex;
}

.column_large {
  width: 630px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

 .article_1 {
  border: 1px solid black;
  display: block;
}

.article_2 {
  border: 1px solid black;
  display: block;
}

.article_3 {
  border: 1px solid black;
  display: block;

.column_medium {
  width: 300px;
  border: 1px solid blue;
}

}

.column_small{
  width: 200px
  border: 1px solid red;
}
